html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

span {
    margin: 30px !important;
}

.menus {
    font-size: medium;
    background-color: #4c68af;
    color: white;
    padding: 10px 15px;
    margin: 28px 10px;
    border: 1px rgb(8, 31, 104) solid;
    cursor: pointer;
}
.enableMetamask {
    font-size: large;
    background-color: #4c89af;
    color: white;
    padding: 14px 20px;
    margin: 28px 0;
    border: none;
    cursor: pointer;
}
